[submodule "site/noVNC"]
	path = site/noVNC
	url = https://github.com/novnc/noVNC.git
[submodule "src/audio_engine/deps/r8brain-free-src"]
	path = src/audio_engine/deps/r8brain-free-src
	url = https://github.com/avaneev/r8brain-free-src.git
[submodule "src/audio_engine/deps/libdatachannel"]
	path = src/audio_engine/deps/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "src/audio_engine/deps/openssl"]
	path = src/audio_engine/deps/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/audio_engine/deps/opus"]
	path = src/audio_engine/deps/opus
	url = https://github.com/xiph/opus.git
[submodule "src/audio_engine/deps/libsamplerate"]
	path = src/audio_engine/deps/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "src/audio_engine/deps/lame"]
	path = src/audio_engine/deps/lame
	url = https://github.com/ffmpegwasm/lame.git
[submodule "src/audio_engine/deps/r8brain"]
	path = src/audio_engine/deps/r8brain
	url = https://github.com/avaneev/r8brain-free-src
