config.yaml
equalizers.yaml
__pycache__/
*.py[codi]
logs/
cert/
build/
c_utils/bin/
src/**/*.c
**/callgrind.out.*
src/site/**/*.js
src/site/**/*.html
src/site/**/*.txt
site/**/*.js
site/**/*.html
site/**/*.txt
!src/site/**/robots.txt
**/node_modules/
**/*.obj
**/*.exe
**/*.lib
tasks/**
**/*.so
**/*.mp3
**/*.tar.gz
c_utils/**
**/*.swp
**/*.egg
**/*.egg*