[Unit]
Description=ScreamRouter Audio Router
After=network.target

[Service]
WorkingDirectory=/root/screamrouter/
ExecStart=/usr/bin/python3 /root/screamrouter/screamrouter.py

[Install]
WantedBy=multi-user.target
