{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons -%}
{% macro main_body(sources, sinks, routes)%}
        <div id="randomcontainer1" class="section">
            <div class="blur">
                <div class="section-name">
                    Sources
                </div>
                <div class="section-buttons select-container">
                    {{- buttons.button("addSourceButton", "Add Source", "section-button", {}, "Add Source")}}
                    {{- buttons.button("addSourceGroupButton", "Add Group", "section-button", {}, "Add Source Group")}}
                    {{- buttons.button("sortSourcesByName", "Sort By Name", "section-button", {}, "Sort Sources by Name")}}
                    {{- buttons.button("reverseSources", "Reverse Order", "section-button", {}, "Reverse Source Order")}}
                    <div id="select-sources" class="main-select" size="{{sources | length}}">
                        {%- set options = namespace(options=[]) %}
                        {%- for source in sources %}
                        {{- source.type }}
                        {%- set enabled_class_str = "enabled" if source.enabled else "disabled" %}
                        {%- set _option = {"value": source.name,
                        "label": source.name,
                        "sublabel": ("Source Group: " ~ source.group_members | join(", ")) if source.group_members else "Source: " ~ source.ip,
                        "class": "option option-%s" % enabled_class_str,
                        "alt": ("Source Group " if source.is_group else "Source ") + source.name + ((" Group Members: " + source.group_members | join(", ")) if (source.is_group) else ""),
                        "shortalt": ("Source Group " if source.is_group else "Source ") + source.name,
                        "data": source} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, sources) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="randomcontainer2" class="section">
            <div class="blur">
                <div class="section-name">
                    Routes
                </div>
                <div class="section-buttons select-container">
                    {{- buttons.button("addRouteButton", "Add Route", "section-button", {}, "Add Route")}}
                    <span class="mobile-route-buttons">
                        {{- buttons.button("sortRoutesBySource", "Sort By Source", "section-button", {}, "Sort Routes by Source")}}
                        {{- buttons.button("sortRoutesBySink", "Sort By Sink", "section-button", {}, "Sort Routes by Sink")}}
                        {{- buttons.button("sortRoutesByName", "Sort By Name", "section-button", {}, "Sort Routes by Name")}}
                        {{- buttons.button("reverseRoutes", "Reverse Order", "section-button", {}, "Reverse Route Order")}}
                    </span>
                    <span class="desktop-route-buttons">
                        {{- buttons.disabled_button("enableRoute", "Enable Route", "section-button", {}, "Enable Route")}}
                        {{- buttons.disabled_button("disableRoute", "Disable Route", "section-button", {}, "Disable Route")}}
                        {{- buttons.disabled_button("editRoute", "Configure", "section-button", {}, "Configure")}}
                        {{- buttons.disabled_button("routeEqualizer", "Equalizer", "section-button", {}, "Equalizer")}} <br/>
                        <input tabindex="0" type="range" id="routeVolume" onchange="routeVolumeChange()" alt="Route Volume" title="Route Volume" value="50" disabled>
                    </span>

                    <span><!-- Empty span so there's an even number of elements before start --></span>
                    <br />
                    <div id="select-routes" class="main-select" size="{{routes | length}}" style="display:none">
                        {%- set options = namespace(options=[]) %}
                        {%- for route in routes %}
                        {{- route.type }}
                        {%- set enabled_class_str = "enabled" if route.enabled else "disabled" %}
                        {%- set _option = {"value": route.name,
                        "label": route.name,
                        "sublabel": ("Source %s to Sink %s" % (route.source, route.sink)) | safe,
                        "class": "option option-%s" % enabled_class_str,
                        "alt": "Route " + route.name + ", Source Name: %s, Sink Name: %s" % (route.source, route.sink),
                        "shortalt": "Route " + route.name,
                        "data": route} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, routes) }}
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="randomcontainer3" class="section">
            <div class="blur">
                <div class="section-name">
                    Sinks
                </div>
                <div class="section-buttons select-container">
                    {{- buttons.button("addSinkButton", "Add Sink", "section-button", {}, "Add Sink")}}
                    {{- buttons.button("addSinkGroupButton", "Add Group", "section-button", {}, "Add Sink Group")}}
                    {{- buttons.button("sortSinksByName", "Sort By Name", "section-button", {}, "Sort Sinks by Name")}}
                    {{- buttons.button("reverseSinks", "Reverse Order", "section-button", {}, "Reverse Sink Order")}}<br />
                    <div id="select-sinks" class="main-select" size="{{sinks | length}}">
                        {%- set options = namespace(options=[]) %}
                        {%- for sink in sinks %}
                        {%- set enabled_class_str = "enabled" if sink.enabled else "disabled" %}
                        {%- set _option = {"value": sink.name,
                        "label": sink.name,
                        "sublabel": ("Sink Group: " ~ sink.group_members | join(", ")) if sink.group_members else "Sink: %s:%s" % (sink.ip, sink.port),
                        "class": "option option-%s" % enabled_class_str,
                        "alt": ("Sink Group " if sink.is_group else "Sink ") + sink.name + ((" Group Members: " + sink.group_members | join(", ")) if (sink.is_group) else ""),
                        "shortalt": ("Sink Group " if sink.is_group else "Sink ") + sink.name,
                        "data": sink} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, sinks) }}
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}

{{ main_body(sources, sinks, routes) }}