{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons -%}
<!DOCTYPE html>
<HTML>

<HEAD>
    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1" />
    <TITLE>ScreamRouter</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" HREF="{{url_for('site_css')}}">

    <script type="text/javascript" src="https://unpkg.com/lodash"></script>
    <script type="text/javascript" src="https://unpkg.com/butterchurn"></script>
    <script type="text/javascript" src="https://unpkg.com/butterchurn-presets"></script>
    <script type="text/javascript" src="https://unpkg.com/butterchurn-presets/lib/butterchurnPresetsExtra.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
    <SCRIPT TYPE="text/javascript" SRC="site/js/api.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/audio.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/controls.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/dialog.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/drag.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/highlighting.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/iframe.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/main.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/sort.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="site/js/visualizer.js"></SCRIPT>
</HEAD>

<BODY onmousemove="onOptionDragMove(event)"  onmouseup="onOptionDragRelease(event)">
    <DIV ID="enable_disable">
        <DIV ID="randomcontainer4" CLASS="title">
            <DIV CLASS="blur">
                ScreamRouter
                <AUDIO ID="audio" PRELOAD="metadata" CONTROLS STYLE="display: none;"></audio>
                <AUDIO ID="audio_visualizer" PRELOAD="metadata" CONTROLS STYLE="display: none;"></audio>
            </DIV>
        </DIV>
        <DIV ID="reload">
            {%- import "index_body.html.jinja" as index_body %}
            {{ index_body.main_body(sources, sinks, routes) }}
        </DIV>
        <DIV ID="randomcontainer5">
            <div id="mainWrapper" CLASS="section">
                <DIV CLASS="blur">
                    <div id="presetControls">
                        <div>Preset: <select id="presetSelect" ONCHANGE="presetSelect_change(e)"></select></div>
                        <div>Cycle:
                            <input type="checkbox" id="presetCycle" ONCHANGE="presetCycle_change(e)" checked></input>
                            <input type="number" id="presetCycleLength" step="1" value="15" min="1" ONCHANGE="presetCycleLength_change(e)"></input>
                        </div>
                        <div>Random: <input type="checkbox" id="presetRandom" ONCHANGE="presetRandom_change(e)" checked></input></div>
                    </div>
                    <canvas id='canvas' width="3840" height="2160" ONCLICK="canvas_click()" tabindex="0" ONKEYDOWN="canvas_onkeydown(event)" >
                    </canvas>
                </div>
            </DIV>
        </DIV>
    </DIV>
    <DIV ID="shadow" ONCLICK="dialogCancel()">
    </DIV>
    <DIV ID="dialog">
    </DIV>
</BODY>

</HTML>