{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons -%}
{% macro main_body(sources, sinks, routes)%}
<DIV ID="randomcontainer1" CLASS="section">
            <DIV CLASS="blur">
                <DIV CLASS="section-name">
                    Sources
                </DIV>
                <DIV CLASS="section-buttons select-container">
                    <INPUT TYPE="range" ID="source_volume" ONCHANGE="source_volume_change()" DISABLED>
                    {{- buttons.button("add_source_button", "➕", "section-button")}}
                    {{- buttons.button("add_source_group_button", "Add Group", "section-button")}}
                    <DIV ID="select-sources" CLASS="main-select" SIZE="{{sources | length}}"
                        ONCHANGE="select_source_change()" MULTIPLE>
                        {%- set options = namespace(options=[]) %}
                        {%- for source in sources %}
                        {{- source.type }}
                        {%- set enabled_class_str = "enabled" if source.enabled else "disabled" %}
                        {%- set _option = {"value": source.name,
                        "label": source.name,
                        "class": "option option-%s" % enabled_class_str,
                        "data": source} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, sources) }}
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
        <DIV ID="randomcontainer2" CLASS="section">
            <DIV CLASS="blur">
                <DIV CLASS="section-name">
                    Routes
                </DIV>
                <DIV CLASS="section-buttons select-container">
                    <INPUT TYPE="range" ID="route_volume" ONCHANGE="route_volume_change()" DISABLED>
                    {{- buttons.button("add_route_button", "➕", "section-button")}}
                    <DIV ID="select-routes" CLASS="main-select" SIZE="{{routes | length}}"
                        ONCHANGE="select_route_change()" MULTIPLE>
                        {%- set options = namespace(options=[]) %}
                        {%- for route in routes %}
                        {{- route.type }}
                        {%- set enabled_class_str = "enabled" if route.enabled else "disabled" %}
                        {%- set _option = {"value": route.name,
                        "label": "%s [%s->%s]" % (route.name,
                        route.source,
                        route.sink),
                        "class": "option option-%s" % enabled_class_str,
                        "data": route} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, routes) }}
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
        <DIV ID="randomcontainer3" CLASS="section">
            <DIV CLASS="blur">
                <DIV CLASS="section-name">
                    Sinks
                </DIV>
                <DIV CLASS="section-buttons select-container">
                    <INPUT TYPE="range" ID="sink_volume" ONCHANGE="sink_volume_change()" DISABLED>
                    {{- buttons.button("add_sink_button", "➕", "section-button")}}
                    {{- buttons.button("add_sink_group_button", "Add Group", "section-button")}}
                    <DIV ID="select-sinks" CLASS="main-select" SIZE="{{sinks | length}}" ONCHANGE="select_sink_change()"
                        MULTIPLE>
                        {%- set options = namespace(options=[]) %}
                        {%- for sink in sinks %}
                        {%- set enabled_class_str = "enabled" if sink.enabled else "disabled" %}
                        {%- set _option = {"value": sink.name,
                        "label": sink.name,
                        "class": "option option-%s" % enabled_class_str,
                        "data": sink} %}
                        {%- set options.options = options.options + [_option] %}
                        {%- endfor %}
                        {{- selects.make_multiple_options(options.options, sinks) }}
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
{%- endmacro %}

{{ main_body(sources, sinks, routes) }}