DIV#dialog {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 33%;
    min-width: 400px;
    height: auto;
    top: 12.5%;
    margin-left: -16.5%;
    background: linear-gradient(-45deg, rgba(0,10,0,.15), rgba(0,200,0,.4));
    border-radius: 30px;
    display: none;
    backdrop-filter: blur(5px);
    font-family: "Courier";
    font-weight: 1000;
    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    max-width: 650px;
}

DIV.title {
    font-family: "Courier";
    font-weight: 1000;
    font-size: 48pt;
    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background-color: rgba(00,120,00,.2);
    border-radius: 25px;
    background-size: 60vmin 60vmin;
    display: inline-block;
    border-collapse: collapse;
}

DIV.section {
    overflow: hidden;
    border-collapse: collapse;
    background-color: rgba(00,120,00,.2);
    border-radius: 25px;
    background-size: 60vmin 60vmin;
    width: 33%;
    border-collapse: collapse;
    top: 0px;
    position: relative;
    display: inline-block;
}

DIV.section-name {
    font-family: "Courier";
    font-weight: 1000;
    font-size: 24pt;

    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: center;
}

DIV.section INPUT[TYPE="range"] {
    width: 96%;
    display: inline-block;
    margin-left: 2%;
}

DIV.section-buttons BUTTON {
    font-size: 12pt;
}

DIV.section-buttons {
    text-align: center;
}


DIV#reload {
    height: 33%;
}

DIV.main-select {
    height: 100%;
    text-align: left;
    width: 101%;
    margin-left: -1%;
    background:none;
    width: 101%;
    background-image: linear-gradient(rgba(60,221,90,.45),rgba(153,153,255,.45));
    overflow: hidden;
    padding-left: 2%;
    font-size: 1.25vw;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding-bottom: 15px;
    border-radius: 25px;
}

SPAN.option {
    width: 95%;
    display: inline-block;
    text-align: left;
    color: #000000;
}

select[multiple] option:checked {
  background-image: linear-gradient(rgba(140,190,140,.75),rgba(0,140,0,.75),rgba(140,190,140,.75));
}

select[multiple]:focus option:checked {
  background-image: linear-gradient(rgba(220,255,220,.75),rgba(0,192,0,.75),rgba(255,255,255,.75));
}

option:active, option:focus, option:hover, option:checked:after {
    outline: none;
}


HTML, BODY {
    height: 100%;
    background-color: #000100;
    font-family: "Arial";
    user-select: none; /* Standard */
    overflow: auto;
    text-align: center;
    position: relative;
    z-index: -500;
}


DIV#randomcontainer1 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 200) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
    float: left;
}

DIV#randomcontainer2 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
}

DIV#randomcontainer3 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
    float: right;
}

DIV#randomcontainer4 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
    vertical-align: center;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 25px;
}

DIV#randomcontainer5 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
    overflow: hidden;
    border-radius: 25px;
    float: left;
}

DIV#randomcontainer6 {
    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;
    overflow: hidden;
    border-radius: 25px;
}

DIV.blur {
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    padding-top: 10%;
    margin-top: -10%;
    padding-bottom: 10%;
    margin-bottom: -10%;
}

DIV#dialog LABEL {
    float: left;
}

DIV#dialog INPUT[TYPE="text"], DIV#dialog SELECT {
    float: right;
    display: block;
}

DIV#dialog INPUT[TYPE="text"] {
    width: 50%;
}

DIV#dialog SELECT {
    width: 52%;
}

DIV#dialog BUTTON {
    width: 99%;
    display: inline;
}

DIV#dialog SPAN {
    display: inline-block;
    width: 100%;
}

DIV#dialog SPAN.equalizer {
    width: 50px;
}

AUDIO {
    position: fixed;
    margin-left: 50px;
    margin-top: 15px;
}

OPTION {
    color: #000000;
    background-color: ;
}

DIV#dialog INPUT.eq_slider {
    padding-top: 5px;
    appearance: slider-vertical;
    width: 20px;
}

DIV#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    display: none;
}

span.button-icon {
    font-size: 16pt;
}
BUTTON#add_sink_group_button, BUTTON#add_source_group_button {
    letter-spacing: -6px;
    text-align: left;
    padding-right: 11px;
}

#update_source_button, #update_sink_button, #update_route_button, 
#update_source_equalizer_button, #update_sink_equalizer_button, #update_route_equalizer_button,
#enable_disable_source_button, #enable_disable_route_button, #enable_disable_sink_button,
#listen_to_sink_button
{
    display: none;
}

@media only screen and (max-width: 825px) {
    DIV.section {
        width: 100%;
        margin-top: 5px;
    }

    BUTTON {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    DIV.select-container {
        font-size: inherit;
        position: relative;
    }

    DIV.main-select {
        font-size: inherit;
        position: relative;
    }

    DIV#dialog {
        position: absolute;
        top: 0%;
        left: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        width: 100%;
        max-width: 100%;

    }
    DIV.title {
        font-family: "Courier";
        font-weight: 1000;
        font-size: 7.8vw;
    }
  }

@media (pointer: coarse)  {
    #update_source_button, #update_sink_button, #update_route_button, 
    #update_source_equalizer_button, #update_sink_equalizer_button, #update_route_equalizer_button,
    #enable_disable_source_button, #enable_disable_route_button, #enable_disable_sink_button,
    #listen_to_sink_button
    {
        display: inline;
    }
    span.button-icon {
        font-size: 24pt;
    }
}

SELECT.main-select option {
    height: 14pt;
    overflow: hidden;
    padding-top: -15px;
    padding-bottom: 10px;
}

SELECT.main-select option::before {
    white-space: nowrap;
    font-size: 14pt;
}

SELECT.main-select OPTION.option-enabled::before {
    content: "🎚️⚙️🔊";
}

SELECT.main-select OPTION.option-disabled::before {
    content: "🎚️⚙️🔇";
}

SELECT.main-select OPTION[DATA-TYPE="SinkDescription"].option-enabled::before {
    content: "🎚️⚙️🔊📻";
}

SELECT.main-select OPTION[DATA-TYPE="SinkDescription"].option-disabled::before {
    content: "🎚️⚙️🔇📻";
}

SPAN.option-label {
    overflow: visible;
}

DIV#presetControls {
    padding-top: 15px;
    color: #000000;
    font-size: 14pt;
    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: left;
}

DIV#mainWrapper {
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
}

canvas#canvas {  
    bottom: 0px;
    margin-bottom: -5px;
    width: 720px;
    height: 480px;
}

IFRAME#vnc-iframe {
}

SPAN.route-label {
    font-size: 12pt;
    color: #111111;
    pointer-events: none;
}

DIV#enable_disable {
    z-index: -100;
    position:  relative;
    min-height: 100%;

}