
DIV#select-routes { 
    display: none;
}

DIV#dialog {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    min-width: 400px;
    max-width: 95%;
    height: auto;
    top: 12.5%;
    margin-left: -16.5%;
    background: none;
    background-image: linear-gradient( rgba(40,120,60,.7), rgba(20,80,40,.5));
    border-radius: 8px;
    display: none;
    backdrop-filter: blur(5px);
    font-family: "Trebuchet MS";
    font-weight: 1000;
    text-shadow: 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #FFF;
}

DIV.title {
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0 0 20px #224411, 0 0 30px #224411, 0 0 40px #224411, 0 0 50px #224411;
    color: #7FFF00;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background-color: rgba(00,120,00,.2);
    border-radius: 5px;
    background-size: 60vmin 60vmin;
    display: inline-block;
    border-collapse: collapse;
}

DIV.section {
    pointer-events: auto;   
    overflow: hidden;
    border-collapse: collapse;
    background-color: rgba(00,120,00,.2);
    border-radius: 5px;
    background-size: 60vmin 60vmin;
    width: 33%;
    border-collapse: collapse;
    top: 0px;
    position: relative;
    display: inline-block;
}

DIV.section-name {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #32CD32;

    text-shadow: 0 0 10px #224411, 0 0 30px #224411;
    text-align: center;
    background-image: linear-gradient( rgba(80,160,120,.6), rgba(20,70,30,.1));
}

DIV.section INPUT[TYPE="range"] {
    width: 96%;
    display: inline-block;
    margin-left: 2%;
}

DIV.section-buttons BUTTON {
    vertical-align: middle;
    font-size: 14pt;
    background-color: #6CB050;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    border: none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
}

DIV.section-buttons BUTTON[disabled] {
    background-color: #2c3F10;
    color: #BBBBBB;
}

DIV.section-buttons {
    text-align: center;
}


DIV#reload {
    height: 33%;
    pointer-events: none;
}

DIV.main-select {
    margin-top: 5px;
    padding-top: 8px;
    font-family: sans-serif;
    overflow: auto;
    text-align: center;
    width: 100%;
    background: none;
    background-image: linear-gradient( rgba(120,240,160,.4), rgba(100,220,140,.2));
    font-size: 1.5vw;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding-bottom: 15px;
    border-radius: 5px;
}

DIV.main-select > SPAN.option:nth-child(even) {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
}

DIV.main-select > SPAN.option:nth-child(odd) {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

SPAN.option{
    font-family: "Lato", sans-serif;
    font-size: 1.75vw;
    padding-left: 2%;
    width: 95%;
    display: inline-block;
    text-align: left;

    border: 0px 0px 2px 0px;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #ffd;
    margin-top: .5px;
    margin-bottom: .5px;
}

select[multiple] option:checked {
  background-image: linear-gradient(rgba(140,190,140,.75),rgba(0,140,0,.75),rgba(140,190,140,.75));
}

select[multiple]:focus option:checked {
  background-image: linear-gradient(rgba(220,255,220,.75),rgba(0,192,0,.75),rgba(255,255,255,.75));
}

option:active, option:focus, option:hover, option:checked:after {
    outline: none;
}

CANVAS#backgroundCanvas {
    display: block;
    filter: blur(14px);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -999;
}

HTML, BODY {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-size: 50% 50%;
    height: 100%;
    background-color: #020202;
    font-family: sans-serif;
    user-select: none; /* Standard */
    overflow: auto;
    text-align: center;
    position: relative;
    z-index: -500;
}


DIV#randomcontainer1 {
    /*background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 200) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;*/
    float: left;
}

DIV#randomcontainer2 {
    /*background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;*/
}

DIV#randomcontainer3 {
/*    background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;*/
    float: right;
}

DIV#randomcontainer4 {
    /*background-image:  {% for i in range(0, 70) %}radial-gradient(rgba({{ range(40, 80) | random}}, {{ range(40, 120) | random}}, {{ range(120, 255) | random}}, {{ range(0, 120) | random}}) {{ range(0, 12) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 70) %}{{ range(-1000, 1000) | random}}px {{ range(-1000, 1000) | random}}px, {% endfor %}{{ range(-1000, 1000) | random}}% {{ range(-1000, 1000) | random}}%;*/
    vertical-align: center;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 5px;
    background-size: 2000px 2000px;
}

DIV#randomcontainer5 {
    /*background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;*/
    overflow: hidden;
    border-radius: 5px;
    float: left;
}

DIV#randomcontainer6 {
    /*background-image:  {% for i in range(0, 30) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 250) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 30) %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%, {% endfor %}{{ range(0, 250) | random}}% {{ range(0, 250) | random}}%;*/
    overflow: hidden;
    border-radius: 5px;
}

DIV.blur {
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    padding-top: 10%;
    margin-top: -10%;
    padding-bottom: 10%;
    margin-bottom: -10%;
}

DIV#dialog LABEL {
    float: left;
}

DIV#dialog INPUT[TYPE="text"], DIV#dialog SELECT {
    float: right;
    display: block;
}

DIV#dialog INPUT[TYPE="text"] {
    width: 50%;
}

DIV#dialog SELECT {
    width: 52%;
}

DIV#dialog BUTTON {
    vertical-align: middle;
    font-size: 14pt;
    background-color: #6CB050;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    border: none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
    display: inline;
}

DIV#dialog SPAN {
    display: inline-block;
    width: 100%;
}

DIV#dialog SPAN.equalizer {
    width: 50px;
}

AUDIO {
    position: fixed;
    margin-left: 50px;
    margin-top: 15px;
}

OPTION {
    color: #000000;
    background-color: ;
}

DIV#dialog INPUT.eq_slider {
    padding-top: 5px;
    appearance: slider-vertical;
    width: 20px;
}

DIV#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    display: none;
}

span.button-icon, span.icon {
    font-size: 1.5vw;
    text-shadow: 0 0 2px #777, 0 0 12px #444;
}

#update_source_button, #update_sink_button, #update_route_button, 
#update_source_equalizer_button, #update_sink_equalizer_button, #update_route_equalizer_button,
#enable_disable_source_button, #enable_disable_route_button, #enable_disable_sink_button,
#listen_to_sink_button
{
    display: none;
}

BUTTON#disable_route {
    display: none;
}

SELECT.main-select option {
    height: 14pt;
    overflow: hidden;
    padding-top: -15px;
    padding-bottom: 10px;
}

SELECT.main-select option::before {
    white-space: nowrap;
    font-size: 14pt;
}

SPAN.option-editor-Enable {

}

SELECT.main-select OPTION[DATA-TYPE="SinkDescription"].option-enabled::before {
    content: "🎚️⚙️🔊📻";
}

SELECT.main-select OPTION[DATA-TYPE="SinkDescription"].option-disabled::before {
    content: "🎚️⚙️🔇📻";
}

SPAN.option-label {
    overflow: visible;
}

DIV#presetControls {
    padding-top: 15px;
    color: #000000;
    font-size: 14pt;
    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: left;
}

DIV#mainWrapper {
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
}

canvas#canvas {  
    bottom: 0px;
    margin-bottom: -5px;
    width: 720px;
    height: 480px;
}

IFRAME#vnc-iframe {
    z-index: 1000;
}

DIV#vnc-on-clck {
    display:none;
}

SPAN.route-label {
    font-size: 1vw;
    pointer-events: none;
    display: inline-block;
    padding-bottom: 15px;
    color: #ded;
    font-weight: bold;
    font-style: italic;
}

DIV#enable_disable {
    z-index: -100;
    position:  relative;
    min-height: 100%;

}

SPAN.mobile-route-buttons {
    display: none;
}

@media only screen and (max-width: 825px) {
    DIV.section {
        width: 100%;
        margin-top: 5px;
    }

    BUTTON {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    DIV.select-container {
        font-size: 24pt;
        position: relative;
    }

    DIV.main-select {
        font-size: 24pt;
        position: relative;
    }

    SPAN.route-label {
        font-size: 8pt;
        color: #111111;
        pointer-events: none;
    }


    DIV#dialog {
        position: absolute;
        top: 0%;
        left: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        max-width: 100%;
    }
    DIV.title {
        font-family: "Trebuchet MS";
        font-weight: 1000;
        font-size: 7.8vw;
    }
    span.button-icon {
        font-size: 8vw;
    }
    SPAN.mobile-route-buttons {
        display: inline;
    }
    SPAN.desktop-route-buttons {
        display: none;
    }
    DIV#select-routes { 
       display: block !important;
    }

    SPAN#route-buttons {
        display: none;
    }

    svg#routeLines { 
        display: none;
    }
    SPAN.option{
        font-size: inherit;
    }
  }

@media (pointer: coarse)  {
    #update_source_button, #update_sink_button, #update_route_button, 
    #update_source_equalizer_button, #update_sink_equalizer_button, #update_route_equalizer_button,
    #enable_disable_source_button, #enable_disable_route_button, #enable_disable_sink_button,
    #listen_to_sink_button
    {
        display: inline;
    }
    DIV#vnc-on-clck {
        display: block;
        z-index: 2000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    SPAN.option-drag {
        font-size: 18pt;
        float: right;
    }
}

DIV.option-buttons {
    display: none;
}

SPAN.option-selected DIV.option-buttons {
    display: block !important;
}

SPAN.option-drag {
    float: right;
    vertical-align: middle;
    color: #000;
    text-shadow: none;
}

SPAN.option-selected > DIV {
    color: #000;
}

SPAN.option DIV, SPAN.option SPAN {
    font-style: normal;
}

SPAN.option[data-is_group="True"]  {
    font-style: italic;
}

SPAN.icon-enabledisable {
    height: 100%;
    vertical-align: middle;
    display: block;
    pointer-events: auto;
    float: right;
}

.glowline {
    pointer-events: auto;
}

.glowline:hover {
    stroke: #FF0;
}

button.button-option-disable, SPAN.option-editor-Disable BUTTON.enable-button {
    background-color: #666 !important;
}

SPAN.option-editor-Disable BUTTON.disable-button {
    display: none;
}

SPAN.option-editor-Enable BUTTON.enable-button {
    display: none;
}