TABLE.main > TBODY {
    backdrop-filter: blur(30px);
}

body {
  background-color: #000100;
  font-family: "Arial";
}

TD.select {
    min-height: 50px;
}

TD.column {
    vertical-align: top;
}

TABLE.button {
    width: 95%;
}

INPUT {
    width: 100%;
}

TD.name {
    width: 125px;
}

TR.buttonsandnames {
    height: 1;
}

TABLE#sourcestable, TABLE#sinkstable, TABLE#routestable {
    height: 100%;
}

TABLE.columnholder {
  width: 100%;
  height: 80%;
}

DIV.column  {
    height: 100%;
}

TD.title {
    font-family: "Courier";
    padding-left: 25px;
    font-weight: 1000;
    font-size: 48pt;

    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

DIV.name {
    font-family: "Courier";
    padding-left: 25px;
    font-weight: 1000;
    font-size: 14pt;
    text-shadow: 0 0 20px #fff, 0 0 30px #AA7777, 0 0 40px #AA7777, 0 0 50px #AA7777, 0 0 60px #AA7777, 0 0 70px #AA7777, 0 0 80px #AA7777;
    z-index: 0;
}

SELECT { 
    background:none;
    height: 101%;
    width: 101%;
    background-image: linear-gradient(rgba(221,221,255,.75), rgba(153,153,187,.75));
    overflow: auto;
    border: none;
    outline: none;
}

TABLE#headertable td {
    height: 100%;
    vertical-align: top;
}

/* bubbles */

TABLE.main {
    overflow: hidden;
    border-collapse: collapse;
    background-color: #004400;
    border-radius: 25px;
    background-size: 60vmin 60vmin;
    width: 100%;
}

TABLE#headertable {
    height: 10%;
    vertical-align: center;
    background-image:  {% for i in range(0, 45) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 200) | random}}, {{ range(0, 10) | random}}, {{ range(0, 100) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 45) %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%, {% endfor %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%;
}

TABLE#sourcestable {
    background-image:  {% for i in range(0, 45) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 100) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 45) %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%, {% endfor %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%;
}

TABLE#sinkstable {
    background-image:  {% for i in range(0, 45) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 100) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 45) %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%, {% endfor %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%;
}

TABLE#routestable {
    background-image:  {% for i in range(0, 45) %}radial-gradient(rgba({{ range(0, 10) | random}}, {{ range(40, 255) | random}}, {{ range(0, 10) | random}}, {{ range(0, 100) | random}}) {{ range(0, 20) | random}}%, transparent 0), {% endfor %}radial-gradient(#{{ "%02X" | format(range(0,45) | random | int) }}{{ "%02X" | format(range(0,150) | random | int) }}{{ "%02X" | format(range(0,45) | random | int) }} {{ range(0, 30) | random}}%, transparent 0);
    background-position: {% for i in range(0, 45) %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%, {% endfor %}{{ range(-100, 200) | random}}% {{ range(-100, 200) | random}}%;
}

DIV.dialog {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 300px;
    height: auto;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    background: linear-gradient(-45deg, rgba(0,10,0,.35), rgba(0,200,0,.7));
    border-radius: 30px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    backdrop-filter: blur(5px);
}

DIV#update_sink_equalizer {
    width: 750px;
    margin-left: -375px;
}

DIV.dialog SELECT {
    width: 99%;
}

DIV.dialog H3 {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

DIV#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    display: none;
}

input.eq_slider {
    writing-mode: vertical-lr;
    display: inline;
    padding-right; 30px;
    padding-left: 30px;
    width: 20px;
}

TABLE#equalizer {
    text-align: center;
}