{%- import "imports/inputs.html.jinja" as inputs %}
{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons %}
{% set data=request_info['data'] %}
<h3>{{ 'Add Sink' if request_info['add_new'] else 'Edit Sink' }}</h3>
<div id="dialog_add_edit_sink">
    <input type="hidden" id="dialog_action" value="{{'post' if request_info['add_new'] else 'put'}}">
    <input type="hidden" id="dialog_url" value="sinks/{{data['name'] if not request_info['add_new']}}">
    {{- inputs.text("Sink Name", "name", true, "Sink Name", data['name']) }}<br />
    {{- inputs.text("Sink IP", "ip", true, "Sink IP", data['ip']) }}<br />
    {{- inputs.text_number("Sink Port", "port", 1, 65535, true, "Sink Port", data['port']) }}<br />
    <span>
        <label for="bit_depth">Bit Depth</label>
        <select id="bit_depth">
            <option value="16"{{' selected' if data['bit_depth'] == 16}}>16</option>
            <option value="24"{{' selected' if data['bit_depth'] == 24}}>24</option>
            <option value="32"{{' selected' if data['bit_depth'] == 32}}>32</option>
        </select>
    </span><br />
    <span>
        <label for="sample_rate">Sample Rate</label>
        <select id="sample_rate">
            <option value="44100"{{' selected' if data['sample_rate'] == 44100}}>44100</option>
            <option value="48000"{{' selected' if data['sample_rate'] == 48000}}>48000</option>
            <option value="88200"{{' selected' if data['sample_rate'] == 88200}}>88200</option>
            <option value="96000"{{' selected' if data['sample_rate'] == 96000}}>96000</option>
            <option value="192000"{{' selected' if data['sample_rate'] == 192000}}>192000</option>
        </select>
    </span><br />
    {{- inputs.text_number("Sink Channels", "channels", 1, 8, true, "Sink Channels", data['channels']) }}<br />
    <span>
        <label for="channel_layout">Channel Layout</label>
        <select id="channel_layout">
            <option value="mono"{{' selected' if data['channel_layout'] =='mono'}}>Mono</option>
            <option value="stereo"{{' selected' if data['channel_layout'] =='stereo'}}>Stereo</option>
            <option value="quad"{{' selected' if data['channel_layout'] =='quad'}}>Quad</option>
            <option value="surround"{{' selected' if data['channel_layout'] =='surround'}}>Surround</option>
            <option value="5.1"{{' selected' if data['channel_layout'] =='5.1'}}>5.1</option>
            <option value="7.1"{{' selected' if data['channel_layout'] =='7.1'}}>7.1</option>
        </select>
    </span><br />
    {{- inputs.text_number("Delay in ms", "delay", 0, 5000, true, "Delay", data['delay']) }}<br />
    <label for="checkbox">Time Sync Protocol</label>
    <input type="checkbox" name="time_sync" id="time_sync"{{ " checked" if data['time_sync'] }}><br/>
    {{- inputs.text_number("Timesync Delay in ms", "time_sync_delay", 0, 5000, true, "Timesync Delay", data['time_sync_delay']) }}<br /><br />
    {{- buttons.button("dialogSubmitClose", 'Add Sink' if request_info['add_new'] else 'Edit Sink' , "dialog-button", {}, "Submit")}}
    {{- buttons.button("dialogCancel", 'Close' , "dialog-button", {}, "Cancel")}}
</div>
