{%- import "imports/inputs.html.jinja" as inputs %}
{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons %}
{% set data=request_info['data'] %}
<h3>{{ 'Add Route' if request_info['add_new'] else 'Edit Route' }}</h3>
<div id="dialog_add_edit_route">
    <input type="hidden" id="dialog_action" value="{{'post' if request_info['add_new'] else 'put'}}">
    <input type="hidden" id="dialog_url" value="{{url_for('add_route')}}/{{data['name'] if not request_info['add_new']}}">
    {{- inputs.text("Route Name", "name", true, "Route Name", data['name']) }}<br />
    <span>
        <label for="source">Source Name</label>
        <select name="source" id="source">
            {%- set options = namespace(options=[]) %}
            {%- for source in sources %}
                <option value="{{source.name}}" class="option option-dialog"{{" selected" if source.name == data['source']}}>{{source.name}}</option>
            {%- endfor %}
        </select>
    </span><br />
    <span>
        <label for="sink">Sink Name</label>
        <select name="sink" id="sink">
            {%- set options = namespace(options=[]) %}
            {%- for sink in sinks %}
                {%- set options.options = options.options + [_option] %}
                <option value="{{sink.name}}" class="option option-dialog"{{" selected" if sink.name == data['sink']}}>{{sink.name}}</option>
            {%- endfor %}
        </select>
    </span><br />
    {{- inputs.text_number("Delay in ms", "delay", 0, 5000, True, "Delay", data['delay']) }}<br /><br />
    {{- buttons.button("dialogSubmitClose", 'Add Route' if request_info['add_new'] else 'Edit Route' , "dialog-button", {}, "Submit")}}
    {{- buttons.button("dialogCancel", 'Close' , "dialog-button", {}, "Cancel")}}
</div>
