{%- import "imports/inputs.html.jinja" as inputs %}
{%- import "imports/selects.html.jinja" as selects %}
{%- import "imports/buttons.html.jinja" as buttons %}
{% set data=request_info['data'] %}
<H3>{{ 'Add Route' if request_info['add_new'] else 'Edit Route' }}</H3>
<DIV ID="dialog_add_edit_route">
    <INPUT TYPE="hidden" ID="dialog_action" VALUE="{{'post' if request_info['add_new'] else 'put'}}">
    <INPUT TYPE="hidden" ID="dialog_url" VALUE="{{url_for('add_route')}}/{{data['name'] if not request_info['add_new']}}">
    {{- inputs.text("Route Name", "name", true, "Route Name", data['name']) }}<BR />
    <SPAN>
        <LABEL FOR="source">Source Name</LABEL>
        <SELECT NAME="source" ID="source">
            {%- set options = namespace(options=[]) %}
            {%- for source in sources %}
                <OPTION VALUE="{{source.name}}" CLASS="option option-dialog"{{" SELECTED" if source.name == data['source']}}>{{source.name}}</OPTION>
            {%- endfor %}
        </SELECT>
    </SPAN><BR />
    <SPAN>
        <LABEL FOR="sink">Sink Name</LABEL>
        <SELECT NAME="sink" ID="sink">
            {%- set options = namespace(options=[]) %}
            {%- for sink in sinks %}
                {%- set options.options = options.options + [_option] %}
                <OPTION VALUE="{{sink.name}}" CLASS="option option-dialog"{{" SELECTED" if sink.name == data['sink']}}>{{sink.name}}</OPTION>
            {%- endfor %}
        </SELECT>
    </SPAN><BR />
    {{- inputs.text_number("Delay in ms", "delay", 0, 5000, True, "Delay", data['delay']) }}<BR /><BR />
    {{- buttons.button("dialog_submit_close", 'Add Route' if request_info['add_new'] else 'Edit Route' , "dialog-button", {}, "Submit")}}
    {{- buttons.button("dialog_cancel", 'Close' , "dialog-button", {}, "Cancel")}}
</DIV>
