{%- import "imports/buttons.html.jinja" as buttons %}
<INPUT TYPE="hidden" ID="dialog_action" VALUE="put">
<INPUT TYPE="hidden" ID="dialog_url" VALUE="/{{request_info['equalizer_holder_type']}}s/">
<INPUT TYPE="hidden" ID="name" VALUE="{{request_info['equalizer_holder_name']}}">
<SPAN CLASS="equalizer">65 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b1" ORIENT="vertical" NAME="b1" MAX="200" MIN="0" VALUE={{request_info["data"]['b1'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">92 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b2" ORIENT="vertical" NAME="b2" MAX="200" MIN="0" VALUE={{request_info["data"]['b2'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">131 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b3" ORIENT="vertical" NAME="b3" MAX="200" MIN="0" VALUE={{request_info["data"]['b3'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">185 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b4" ORIENT="vertical" NAME="b4" MAX="200" MIN="0" VALUE={{request_info["data"]['b4'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">262 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b5" ORIENT="vertical" NAME="b5" MAX="200" MIN="0" VALUE={{request_info["data"]['b5'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">370 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b6" ORIENT="vertical" NAME="b6" MAX="200" MIN="0" VALUE={{request_info["data"]['b6'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">523 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b7" ORIENT="vertical" NAME="b7" MAX="200" MIN="0" VALUE={{request_info["data"]['b7'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">740 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b8" ORIENT="vertical" NAME="b8" MAX="200" MIN="0" VALUE={{request_info["data"]['b8'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">1047 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b9" ORIENT="vertical" NAME="b9" MAX="200" MIN="0" VALUE={{request_info["data"]['b9'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">1480 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b10" ORIENT="vertical" NAME="b10" MAX="200" MIN="0" VALUE={{request_info["data"]['b10'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">2093 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b11" ORIENT="vertical" NAME="b11" MAX="200" MIN="0" VALUE={{request_info["data"]['b11'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">2960 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b12" ORIENT="vertical" NAME="b12" MAX="200" MIN="0" VALUE={{request_info["data"]['b12'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">4186 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b13" ORIENT="vertical" NAME="b13" MAX="200" MIN="0" VALUE={{request_info["data"]['b13'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">5920 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b14" ORIENT="vertical" NAME="b14" MAX="200" MIN="0" VALUE={{request_info["data"]['b14'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">8372 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b15" ORIENT="vertical" NAME="b15" MAX="200" MIN="0" VALUE={{request_info["data"]['b15'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">11840 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b16" ORIENT="vertical" NAME="b16" MAX="200" MIN="0" VALUE={{request_info["data"]['b16'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">16744 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b17" ORIENT="vertical" NAME="b17" MAX="200" MIN="0" VALUE={{request_info["data"]['b17'] * 100}} /></SPAN>
<SPAN CLASS="equalizer">20000 kHz<BR /><INPUT TYPE="range" CLASS="eq_slider" ID="eq_b18" ORIENT="vertical" NAME="b18" MAX="200" MIN="0" VALUE={{request_info["data"]['b18'] * 100}} /></SPAN>
{{- buttons.button("dialog_submit_noclose", 'Update Equalizer' , "dialog-button")}}
{{- buttons.button("dialog_equalizer_default", 'Default' , "dialog-button")}}
{{- buttons.button("dialog_cancel", 'Close' , "dialog-button")}}