{%- import "imports/buttons.html.jinja" as buttons %}

{% macro equalizer_band(freq, band_id) -%}
<SPAN CLASS="equalizer">{{ freq }} Hz<BR /><INPUT ALT="{{ freq }} Hertz Band" TITLE="{{ freq }} Hz Band" TYPE="range" TABINDEX="0" CLASS="eq_slider" ID="eq_{{ band_id }}" ORIENT="vertical" NAME="{{ band_id }}" MAX="200" MIN="0" VALUE={{request_info["data"][band_id] * 100}} /></SPAN>
{%- endmacro %}

<INPUT TYPE="hidden" ID="dialog_action" VALUE="put">
<INPUT TYPE="hidden" ID="dialog_url" VALUE="/{{request_info['equalizer_holder_type']}}s/{{request_info['equalizer_holder_name']}}">
<INPUT TYPE="hidden" ID="name" VALUE="{{request_info['equalizer_holder_name']}}">

{{ equalizer_band(65, 'b1') }}
{{ equalizer_band(92, 'b2') }}
{{ equalizer_band(131, 'b3') }}
{{ equalizer_band(185, 'b4') }}
{{ equalizer_band(262, 'b5') }}
{{ equalizer_band(370, 'b6') }}
{{ equalizer_band(523, 'b7') }}
{{ equalizer_band(740, 'b8') }}
{{ equalizer_band(1047, 'b9') }}
{{ equalizer_band(1480, 'b10') }}
{{ equalizer_band(2093, 'b11') }}
{{ equalizer_band(2960, 'b12') }}
{{ equalizer_band(4186, 'b13') }}
{{ equalizer_band(5920, 'b14') }}
{{ equalizer_band(8372, 'b15') }}
{{ equalizer_band(11840, 'b16') }}
{{ equalizer_band(16744, 'b17') }}
{{ equalizer_band(20000, 'b18') }}<BR />
{{- buttons.button("dialogSubmitNoClose", 'Update Equalizer' , "dialog-button", {}, "Apply Changes")}}
{{- buttons.button("dialogEqualizerDefault", 'Default' , "dialog-button", {}, "Default Equalizer Settings")}}
{{- buttons.button("dialogCancel", 'Close' , "dialog-button", {}, "Close Equalizer")}}