{% macro button(callback, label, class="", data="{}") %}
                    <BUTTON ID="{{callback}}" ONCLICK="{{callback}}()" CLASS="{{class}}" DATA-DATA="{{data}}">{{label}}</BUTTON>
{%- endmacro %}