{% macro text(label, name, enabled=true, placeholder="", value="")%}
    <span>
        <label for="{{name}}">{{label}}</label>
        <input type="text" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}"{{" disabled" if not enabled}}>
    </span>
{% endmacro %}

{% macro text_number(label, name, min, max, enabled=true, placeholder="", value="")%}
<span>
    <label for="{{name}}">{{label}}</label>
    <input type="text" id="{{name}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}"{{" disabled" if not enabled}}>
</span>
{% endmacro %}