{% macro button(icon, alt, title, onclick) -%}
<span tabindex="0" alt="{{alt}}" title="{{title}}" class="button-icon" onclick="{{onclick}}">{{icon}}</span>
{%- endmacro %}

{% macro option(value, label, class="", data="{}", checked=False, alt="", shortalt="") %}
{%- if (shortalt == "") %}
{%- set shortalt = alt %}
{%- endif -%}
    <span tabindex="0" alt="{{alt}}" title="{{alt}}" value="{{value}}" class="{{class}}" onclick="option_onclick(event)" onkeypress="keypress_handler(event)"
        {%- for name, datum in data %} data-{{name}}="{{datum}}"{% endfor %} data-type="{{data.__class__.__name__}}" {{"selected" if checked}}>
        {{label}}
        <br />
        <div id="{{data.name}}_options" class="option-buttons">
            {{- button('🎚️', shortalt ~ ' Equalizer', shortalt ~ ' Equalizer', 'equalizer_icon_onclick(event)') -}}
            {{- button('⚙️', shortalt ~ ' Settings', shortalt ~ ' Settings', 'update_icon_onclick(event)') -}}
            {{- button('🔊' if data["enabled"] else '🔇', 'Disable ' ~ shortalt if data["enabled"] else 'Enable ' ~ shortalt, 'Disable ' ~ shortalt if data["enabled"] else 'Enable ' ~ shortalt, 'volume_icon_onclick(event)') }}
            {{- button('🗑️', 'Remove ' ~ shortalt, 'Remove ' ~ shortalt, 'remove_icon_onclick(event)') -}}
            {%- if (data.__class__.__name__ == "SinkDescription" and not data.is_group) -%}
                {{- button('📻', 'Listen to ' ~ shortalt, 'Listen to ' ~ shortalt, 'listen_icon_onclick(event)') -}}
                {{- button('✨', 'Visualize ' ~ shortalt, 'Visualize ' ~ shortalt, 'visualizer_icon_onclick(event)') -}}
            {%- endif -%}
            {%- if (data.vnc_ip and data.vnc_port) -%}
                <br />
                {{- button('🖥️', 'VNC ' ~ shortalt, 'VNC ' ~ shortalt, 'vnc_icon_onclick(event)') -}}
                {{- button('⏮️', 'Previous Track ' ~ shortalt, 'Previous Track ' ~ shortalt, 'previous_track_icon_onclik(event)') -}}
                {{- button('⏯️', 'Play/Pause ' ~ shortalt, 'Play/Pause ' ~ shortalt, 'playpause_icon_onclick(event)') -}}
                {{- button('⏭️', 'Next Track ' ~ shortalt, 'Next Track ' ~ shortalt, 'next_track_icon_onclick(event)') -}}
            {%- endif -%}
        </div>
    </span>
{%- endmacro %}

{% macro make_multiple_options(options, data="{}") %}
    {%- for _option in options %}
        {{- option(_option["value"], _option["label"], _option["class"], _option["data"], _option["checked"], _option["alt"], _option["shortalt"]) }}
    {%- endfor %}
{%- endmacro %}
